body {
    background-color: rgb(15, 15, 15);
    color: #ce3a3a;
    font-family: monospace;
    font-weight: bolder;
}

a {
    color: red;
}

div {
    width: fit-content;
    text-align: center;
}
